h4 {
    color: white;
    text-align: center;
    font-family: SofiaSans , sans-serif;
    font-size: 35px;
    margin-bottom: 15px;
}
ul {
    color: white;
    font-style: italic;
    font-size: 20px;
    font-family: SofiaSans , sans-serif;
}
span {
    color: #39bd39;
    font-size: 21px;
}
.Brandan {
    color: #EC3A2E;
    font-weight: bold;
}
.nameTag {
    color: #A7661B;
    font-weight: bold;
}
.facts-img img{
   width: 80%;
    height: 400px;
    float: right;

}