
.nav-link {
    color: #ffffff;
}
.nav-link:hover  {
    color: #be3955;
}
@media (min-width: 200px) and (max-width: 300px) {
    .logo {
        width: 100px;
    }
}
@media (min-width: 300px) and (max-width: 400px) {
    .logo {
        width: 210px;
    }
}
@media (min-width: 400px) and (max-width: 600px) {
    .logo {
        width: 300px;
    }
}
@media (min-width: 600px) and (max-width: 769px) {
    .logo {
        width: 400px;
    }
}