body{
    margin: 0;
    background-color: #b61e1e;
    display: block;
}
.bottom-bar{
    background-color: #383737;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
}

.icon{
    font-size: 1.5em;
    padding: 15px 20px;
    transition: .3s;
    border-radius: 20px;
    color: #b8bcc4;
    background: none;
}
.active{
    transform: scale(1) translateY(-3px);
    background: rgb(231,64,64);
    background: linear-gradient(27deg, rgba(231,64,64,1) 0%, rgba(233,65,65,0.9837184873949579) 100%);
    color: white;
}
.spacing {
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 60px;
    left: 0;
}
@media  (min-width: 992px){
    .bottom-bar {
        display: none;
    }
    .spacing {
        display: none;
    }
}
